@import "./../Styles/variables.scss";
@import "./../Styles/Mixin_New.scss";


.home-main {
    display: flex;
    overflow: hidden;
    background: $right;

}

.isCall-div {
    width: 100%;
    max-width: 300px;
    height: auto;
    // background: $reciver;
    background: $wsms;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 70px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid $border;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 0;

    .isCall-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .iscall-name {
        font-size: 18px;
    }

    .call-btn-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;

        .call-item-icons {
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
        }

        .call {
            animation: callAni infinite ease-in-out;
            animation-duration: 1s;
            scale: 1;
        }

        @keyframes callAni {
            0% {
                scale: 0.85;
            }

            50% {
                scale: 1;
            }

            100% {
                scale: 0.85;
            }
        }
    }


}

.Call-Div {
    width: 100%;
    height: 100%;
    background: $right;
    color: white;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;


    .video-canvas-webCam {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 100%;
        max-width: 100px;
        height: 150px;
        background: black;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        z-index: 1;

        @include respond-to(xs) {
            max-width: 70px;
            height: 100px;
            right: 15px;
            bottom: 15px;
        }

        @include respond-to(sm) {
            max-width: 70px;
            height: 100px;
            right: 15px;
            bottom: 15px;
        }
    }

    .video-canvas-webCam-btn-close {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 40;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        z-index: 1;
    }

    .caller-user-dev {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .caller-photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        .ringin-call {
            color: #cccc;
        }

    }

    .end-call-btn-ans {
        position: absolute;
        cursor: pointer;
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        bottom: 3%;
        right: 30%;
        transform: translate(0%, 0%);
        z-index: 1;

    }

    .end-call-btn-close-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 50px;

        .btn-one {
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
        }

        .btn-two {
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
        }

    }

    .end-call-btn-close {
        position: absolute;
        cursor: pointer;
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 1;

    }

    .video-canvas-remote {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: black;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .Caller-inner-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;


        .caller-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        .ringin-text {
            font-size: 24px;
            color: #cccc;
        }

        .call-btn-div {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 200px;

            .call-item-icons {
                font-size: 24px;
                cursor: pointer;
                color: #7e7e7ecc;
            }

            .call-item-icons-selected {
                font-size: 24px;
                cursor: pointer;
                color: white;
            }

            .end-call-btn {
                padding: 4px 8px;
                border-radius: 5px;
                background: $danger;
                cursor: pointer;
            }
        }
    }
}

.status-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $right;
    z-index: 9999;
    padding: 11px 16px;

    .status-div {
        width: 100%;
        max-width: 500px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background: $left;

        .status-media-div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .story-img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }

            .story-video {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }

        }

        .status-emoji {
            position: absolute;
            bottom: 60px;
            left: 0;
        }

        .status-profile-div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            .progressCount {
                // flex: 0.5;
                display: flex;
                justify-content: end;
                margin-left: 1rem;
                font-size: 14px;
                color: #e2e2e2;
            }

            .status-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                object-position: center;
            }
        }

        .status-input-div {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -20%);
            background: rgba(0, 0, 0, 0.274);
            width: 100%;
            height: 50px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border: 1px solid $border;
            // backdrop-filter: blur(10px);

            .status-input {
                flex: 1;
                border: none;
                outline: none;
                background: transparent;
                margin: 0 1rem;
                color: white;

                &::placeholder {
                    color: #ccc;
                }
            }

            .status-icons {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}